--
-- PostgreSQL database dump
--

\restrict VERWfajzDTSvZEda5C74NY0zAgiqgSaqveHlmA4OM6Zxtebmh5tilDY6EaTACGK

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: abholort; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.abholort (
    id bigint NOT NULL,
    adresse character varying(255) NOT NULL,
    ort_id bigint NOT NULL
);


ALTER TABLE public.abholort OWNER TO postgres;

--
-- Name: TABLE abholort; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.abholort IS 'Konkrete Abholstellen; referenziert Ort.';


--
-- Name: abholort_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.abholort ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.abholort_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ausleihdauer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ausleihdauer (
    id bigint NOT NULL,
    tage integer NOT NULL,
    bezeichnung character varying(80),
    CONSTRAINT ck_ausleihdauer_tage CHECK ((tage > 0))
);


ALTER TABLE public.ausleihdauer OWNER TO postgres;

--
-- Name: TABLE ausleihdauer; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.ausleihdauer IS 'Stammdaten f├╝r Leihzeitr├ñume (in Tagen) zur Standardisierung.';


--
-- Name: ausleihdauer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ausleihdauer ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.ausleihdauer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ausleihvorgang; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ausleihvorgang (
    id bigint NOT NULL,
    benutzer_id bigint NOT NULL,
    buch_id bigint NOT NULL,
    zustand_vor_ausleih bigint NOT NULL,
    zustand_nach_ausleih bigint,
    von date NOT NULL,
    bis date NOT NULL,
    lieferart_id bigint NOT NULL,
    rueckgabe_am date,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_av_datum CHECK ((bis >= von)),
    CONSTRAINT ck_av_rueckgabe CHECK (((rueckgabe_am IS NULL) OR (rueckgabe_am >= von)))
);


ALTER TABLE public.ausleihvorgang OWNER TO postgres;

--
-- Name: TABLE ausleihvorgang; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.ausleihvorgang IS 'Historisiert Ausleihen inkl. Zeitraum, Lieferart sowie Zustand vor/nach Ausleihe.';


--
-- Name: COLUMN ausleihvorgang.rueckgabe_am; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.ausleihvorgang.rueckgabe_am IS 'NULL = Ausleihe offen; gesetzt = R├╝ckgabe erfolgt.';


--
-- Name: COLUMN ausleihvorgang.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.ausleihvorgang.created_at IS 'Zeitstempel der Anlage zur Auditierbarkeit.';


--
-- Name: ausleihvorgang_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ausleihvorgang ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.ausleihvorgang_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: autor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.autor (
    id bigint NOT NULL,
    vorname character varying(120) NOT NULL,
    nachname character varying(120) NOT NULL
);


ALTER TABLE public.autor OWNER TO postgres;

--
-- Name: TABLE autor; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.autor IS 'Stammdaten f├╝r Autoren; wird von buch referenziert.';


--
-- Name: autor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.autor ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.autor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: benutzer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.benutzer (
    id bigint NOT NULL,
    vorname character varying(120) NOT NULL,
    nachname character varying(120) NOT NULL,
    email character varying(255) NOT NULL,
    passwort character varying(255) NOT NULL,
    adresse character varying(255),
    ort_id bigint NOT NULL,
    benutzerrolle_id bigint NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.benutzer OWNER TO postgres;

--
-- Name: TABLE benutzer; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.benutzer IS 'Speichert registrierte Nutzer inkl. Rolle und Ort; Soft-Delete via is_active.';


--
-- Name: COLUMN benutzer.is_active; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.benutzer.is_active IS 'Soft-Delete Flag: TRUE aktiv, FALSE deaktiviert; Historie bleibt erhalten.';


--
-- Name: benutzer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.benutzer ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.benutzer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: benutzerrolle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.benutzerrolle (
    id bigint NOT NULL,
    bezeichnung character varying(60) NOT NULL
);


ALTER TABLE public.benutzerrolle OWNER TO postgres;

--
-- Name: TABLE benutzerrolle; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.benutzerrolle IS 'Definiert Rollen zur Berechtigungssteuerung (z.B. Admin, Moderator, Mitglied).';


--
-- Name: benutzerrolle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.benutzerrolle ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.benutzerrolle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: buch; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.buch (
    id bigint NOT NULL,
    titel character varying(255) NOT NULL,
    erscheinungsjahr date,
    isbn character varying(32),
    anbieter_benutzer_id bigint NOT NULL,
    genre_id bigint NOT NULL,
    sprache_id bigint NOT NULL,
    zustand_id bigint NOT NULL,
    status_id bigint NOT NULL,
    autor_id bigint NOT NULL,
    ausleihdauer_id bigint NOT NULL,
    verlag_id bigint NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.buch OWNER TO postgres;

--
-- Name: TABLE buch; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.buch IS 'Zentrale Entit├ñt f├╝r angebotene B├╝cher inkl. Metadaten (Genre, Sprache, Zustand, Status) und Anbieter.';


--
-- Name: COLUMN buch.is_active; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.buch.is_active IS 'Soft-Delete Flag: TRUE aktiv, FALSE deaktiviert.';


--
-- Name: buch_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.buch ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.buch_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: genre; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.genre (
    id bigint NOT NULL,
    genre character varying(80) NOT NULL
);


ALTER TABLE public.genre OWNER TO postgres;

--
-- Name: TABLE genre; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.genre IS 'Stammdaten f├╝r Buchgenres zur Kategorisierung und Suche.';


--
-- Name: lieferart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lieferart (
    id bigint NOT NULL,
    bezeichnung character varying(80) NOT NULL
);


ALTER TABLE public.lieferart OWNER TO postgres;

--
-- Name: TABLE lieferart; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.lieferart IS 'Stammdaten f├╝r ├£bergabe-/Lieferarten (Abholung, Versand, etc.).';


--
-- Name: sprache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sprache (
    id bigint NOT NULL,
    sprache character varying(80) NOT NULL
);


ALTER TABLE public.sprache OWNER TO postgres;

--
-- Name: TABLE sprache; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.sprache IS 'Stammdaten f├╝r Buchsprachen zur Filterung.';


--
-- Name: status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.status (
    id bigint NOT NULL,
    status character varying(80) NOT NULL
);


ALTER TABLE public.status OWNER TO postgres;

--
-- Name: TABLE status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.status IS 'Stammdaten f├╝r Buchstatus (z.B. verf├╝gbar, ausgeliehen).';


--
-- Name: zustand; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.zustand (
    id bigint NOT NULL,
    zustand character varying(80) NOT NULL
);


ALTER TABLE public.zustand OWNER TO postgres;

--
-- Name: TABLE zustand; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.zustand IS 'Stammdaten f├╝r Buchzust├ñnde; genutzt f├╝r Transparenz vor/nach Ausleihe.';


--
-- Name: dm_vw_ausleihen; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.dm_vw_ausleihen AS
 SELECT av.id AS ausleihvorgang_id,
    av.von,
    av.bis,
    av.rueckgabe_am,
    ((av.bis - av.von) + 1) AS geplante_tage,
    (av.rueckgabe_am IS NULL) AS ist_offen,
    b.id AS buch_id,
    b.titel,
    g.genre,
    s.sprache,
    st.status AS buch_status,
    z1.zustand AS zustand_vor,
    z2.zustand AS zustand_nach,
    u.id AS entleiher_id,
    concat_ws(' '::text, u.vorname, u.nachname) AS entleiher_name,
    l.bezeichnung AS lieferart
   FROM ((((((((public.ausleihvorgang av
     JOIN public.buch b ON ((b.id = av.buch_id)))
     LEFT JOIN public.genre g ON ((g.id = b.genre_id)))
     LEFT JOIN public.sprache s ON ((s.id = b.sprache_id)))
     LEFT JOIN public.status st ON ((st.id = b.status_id)))
     LEFT JOIN public.zustand z1 ON ((z1.id = av.zustand_vor_ausleih)))
     LEFT JOIN public.zustand z2 ON ((z2.id = av.zustand_nach_ausleih)))
     JOIN public.benutzer u ON ((u.id = av.benutzer_id)))
     JOIN public.lieferart l ON ((l.id = av.lieferart_id)));


ALTER VIEW public.dm_vw_ausleihen OWNER TO postgres;

--
-- Name: dm_mv_ausleihen; Type: MATERIALIZED VIEW; Schema: public; Owner: postgres
--

CREATE MATERIALIZED VIEW public.dm_mv_ausleihen AS
 SELECT ausleihvorgang_id,
    von,
    bis,
    rueckgabe_am,
    geplante_tage,
    ist_offen,
    buch_id,
    titel,
    genre,
    sprache,
    buch_status,
    zustand_vor,
    zustand_nach,
    entleiher_id,
    entleiher_name,
    lieferart
   FROM public.dm_vw_ausleihen
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.dm_mv_ausleihen OWNER TO postgres;

--
-- Name: rezension; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rezension (
    id bigint NOT NULL,
    kommentar text,
    bewertung integer NOT NULL,
    benutzer_id bigint NOT NULL,
    buch_id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_rez_bewertung CHECK (((bewertung >= 1) AND (bewertung <= 5)))
);


ALTER TABLE public.rezension OWNER TO postgres;

--
-- Name: TABLE rezension; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.rezension IS 'Bewertungen/Kommentare zu B├╝chern; pro Nutzer und Buch nur einmal (Unique Constraint).';


--
-- Name: COLUMN rezension.bewertung; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.rezension.bewertung IS 'Bewertung 1..5; CHECK Constraint erzwingt Wertebereich.';


--
-- Name: dm_vw_buch_rating; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.dm_vw_buch_rating AS
 SELECT b.id,
    b.titel,
    (avg(r.bewertung))::numeric(10,2) AS avg_rating,
    count(*) AS anzahl_reviews
   FROM (public.buch b
     JOIN public.rezension r ON ((r.buch_id = b.id)))
  GROUP BY b.id, b.titel;


ALTER VIEW public.dm_vw_buch_rating OWNER TO postgres;

--
-- Name: genre_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.genre ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.genre_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lieferant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lieferant (
    id bigint NOT NULL,
    name character varying(180) NOT NULL
);


ALTER TABLE public.lieferant OWNER TO postgres;

--
-- Name: TABLE lieferant; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.lieferant IS 'Stammdaten f├╝r Lieferanten/Carrier.';


--
-- Name: lieferant_abholort; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lieferant_abholort (
    lieferant_id bigint NOT NULL,
    abholort_id bigint NOT NULL
);


ALTER TABLE public.lieferant_abholort OWNER TO postgres;

--
-- Name: TABLE lieferant_abholort; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.lieferant_abholort IS 'Zuordnungstabelle: welcher Lieferant bedient welchen Abholort (n:m).';


--
-- Name: lieferant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lieferant ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.lieferant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lieferart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lieferart ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.lieferart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ort; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ort (
    id bigint NOT NULL,
    stadt character varying(120) NOT NULL,
    plz integer NOT NULL,
    CONSTRAINT ck_ort_plz CHECK (((plz >= 0) AND (plz <= 99999)))
);


ALTER TABLE public.ort OWNER TO postgres;

--
-- Name: TABLE ort; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.ort IS 'Stammdaten f├╝r Orte (Stadt/PLZ) zur geografischen Zuordnung.';


--
-- Name: ort_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ort ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.ort_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rezension_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rezension ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.rezension_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sprache_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sprache ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.sprache_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.status ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.status_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: verlag; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verlag (
    id bigint NOT NULL,
    name character varying(180) NOT NULL
);


ALTER TABLE public.verlag OWNER TO postgres;

--
-- Name: TABLE verlag; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.verlag IS 'Stammdaten f├╝r Verlage; wird von buch referenziert.';


--
-- Name: verlag_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.verlag ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.verlag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vw_aktive_ausleihen; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_aktive_ausleihen AS
 SELECT av.id AS ausleihe_id,
    b.id AS buch_id,
    b.titel AS buch_titel,
    u.id AS benutzer_id,
    (((u.vorname)::text || ' '::text) || (u.nachname)::text) AS benutzer_name,
    av.von,
    av.bis,
    la.bezeichnung AS lieferart
   FROM (((public.ausleihvorgang av
     JOIN public.buch b ON ((b.id = av.buch_id)))
     JOIN public.benutzer u ON ((u.id = av.benutzer_id)))
     JOIN public.lieferart la ON ((la.id = av.lieferart_id)))
  WHERE (av.rueckgabe_am IS NULL);


ALTER VIEW public.vw_aktive_ausleihen OWNER TO postgres;

--
-- Name: VIEW vw_aktive_ausleihen; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.vw_aktive_ausleihen IS 'Reporting-View: offene Ausleihen inkl. Buch/Nutzer/Lieferart.';


--
-- Name: vw_beliebteste_buecher; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_beliebteste_buecher AS
 SELECT b.id,
    b.titel,
    count(av.id) AS anzahl_ausleihen
   FROM (public.buch b
     LEFT JOIN public.ausleihvorgang av ON ((av.buch_id = b.id)))
  GROUP BY b.id, b.titel
  ORDER BY (count(av.id)) DESC, b.titel;


ALTER VIEW public.vw_beliebteste_buecher OWNER TO postgres;

--
-- Name: VIEW vw_beliebteste_buecher; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.vw_beliebteste_buecher IS 'Reporting-View: Top-B├╝cher nach Ausleihh├ñufigkeit.';


--
-- Name: vw_buch_bewertungen; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_buch_bewertungen AS
 SELECT b.id,
    b.titel,
    round(avg(r.bewertung), 2) AS avg_bewertung,
    count(r.id) AS anzahl_bewertungen
   FROM (public.buch b
     LEFT JOIN public.rezension r ON ((r.buch_id = b.id)))
  GROUP BY b.id, b.titel
  ORDER BY (round(avg(r.bewertung), 2)) DESC NULLS LAST, (count(r.id)) DESC;


ALTER VIEW public.vw_buch_bewertungen OWNER TO postgres;

--
-- Name: VIEW vw_buch_bewertungen; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.vw_buch_bewertungen IS 'Reporting-View: ├ÿ Bewertung und Anzahl Bewertungen je Buch.';


--
-- Name: zustand_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.zustand ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.zustand_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: abholort; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.abholort (id, adresse, ort_id) FROM stdin;
1	Bibliothek Mitte, HauptstraÔö£ãÆe 1	1
2	Bibliothek Nord, Hafenweg 12	2
3	Bibliothek SÔö£ÔòØd, Platz 3	3
4	Bibliothek West, Ring 99	4
5	InfoPoint Zentrum, Allee 5	5
6	InfoPoint Nord, Uniweg 10	6
7	InfoPoint, SÔö£ÔòØd	7
8	InfoPoint, West	8
9	InfoPoint Ost, Elbweg 4	9
10	Servicepoint, BahnhofstraÔö£ãÆe 8	10
\.


--
-- Data for Name: ausleihdauer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ausleihdauer (id, tage, bezeichnung) FROM stdin;
1	7	1 Woche
2	10	10 Tage
3	14	2 Wochen
4	21	3 Wochen
5	28	4 Wochen
6	30	1 Monat
7	35	5 Wochen
8	42	6 Wochen
9	56	8 Wochen
10	90	3 Monate
\.


--
-- Data for Name: ausleihvorgang; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: autor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.autor (id, vorname, nachname) FROM stdin;
1	Lukas	Rottinghaus
2	Erika	Musterfrau
3	Max	Mustermann
4	Laura	Weber
5	Tom	Tester
6	Sarah	Klein
7	David	Wolf
8	Nina	Bekcer
9	Paul	Hoffmann
10	Mia	Schulz
\.


--
-- Data for Name: benutzer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: benutzerrolle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.benutzerrolle (id, bezeichnung) FROM stdin;
1	Admin
2	Mitglied
3	Moderator
4	Gast
5	Mitarbeiter
6	Bibliothekar
7	Support
8	Verifizierter Nutzer
9	Sperre
10	System
\.


--
-- Data for Name: buch; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: genre; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.genre (id, genre) FROM stdin;
1	Roman
2	Krimi
3	Science-Fiction
4	Fantasy
5	Sachbuch
6	Biografie
7	Kinderbuch
8	Jugendbuch
9	Thriller
10	Historisch
\.


--
-- Data for Name: lieferant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lieferant (id, name) FROM stdin;
1	DHL
2	DPD
3	Hermes
4	UPS
5	GLS
6	FedEx
7	LocalCourier One
8	CityLogistik
9	BÔö£ÔòØcherbote GmbH
10	ExpressNow
\.


--
-- Data for Name: lieferant_abholort; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lieferant_abholort (lieferant_id, abholort_id) FROM stdin;
1	1
2	2
3	3
4	4
5	5
6	6
7	7
8	8
9	9
10	10
\.


--
-- Data for Name: lieferart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lieferart (id, bezeichnung) FROM stdin;
1	Abholung
2	Lieferung Standard
3	Lieferung Express
4	Ôö£┬úbergabe vor Ort
5	Kontaktlos
6	Paketstation
7	Abholung Wochenende
8	Abholung Werktags
9	Lieferung PREMIUM
10	Digitale Bereitstellung
\.


--
-- Data for Name: ort; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ort (id, stadt, plz) FROM stdin;
1	Berlin	10115
2	Hamburg	20095
3	MÔö£ÔòØnchen	80331
4	KÔö£├éln	50667
5	Frankfurt am Main	60311
6	Stuttgart	70173
7	DÔö£ÔòØsseldorf	40213
8	Leipzig	4109
9	Dresden	1067
10	Hannover	30159
\.


--
-- Data for Name: rezension; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sprache; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sprache (id, sprache) FROM stdin;
1	Deutsch
2	Englisch
3	FranzÔö£├ésisch
4	Spanisch
5	Italienisch
6	NiederlÔö£├▒ndisch
7	Schwedisch
8	Norwegisch
9	Polnisch
10	TÔö£ÔòØrkisch
\.


--
-- Data for Name: status; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.status (id, status) FROM stdin;
1	VerfÔö£ÔòØgbar
2	Ausgeliehen
3	Reserviert
4	Nicht verfÔö£ÔòØgbar
5	In PrÔö£ÔòØfung
6	Verloren
7	BeschÔö£├▒digt
8	Im Versand
9	Zur Abholung bereit
10	Archiviert
\.


--
-- Data for Name: verlag; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verlag (id, name) FROM stdin;
1	Alpha Verlag
2	Beta Books
3	Gamma Press
4	Delta Publishing
5	Epsilon Media
6	Zeta Verlagshaus
7	Omega Editions
8	Nordlicht Verlag
9	SÔö£ÔòØdstern Books
10	Hanseatische Presse
\.


--
-- Data for Name: zustand; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.zustand (id, zustand) FROM stdin;
1	Neu
2	Wie neu
3	Sehr gut
4	Gut
5	Akzeptabel
6	Stark gebraucht
7	Mit Markierungen
8	Kleine SchÔö£├▒den
9	Starke SchÔö£├▒den
10	Unleserlich
\.


--
-- Name: abholort_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.abholort_id_seq', 10, true);


--
-- Name: ausleihdauer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ausleihdauer_id_seq', 10, true);


--
-- Name: ausleihvorgang_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ausleihvorgang_id_seq', 14, true);


--
-- Name: autor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.autor_id_seq', 10, true);


--
-- Name: benutzer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.benutzer_id_seq', 10, true);


--
-- Name: benutzerrolle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.benutzerrolle_id_seq', 10, true);


--
-- Name: buch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.buch_id_seq', 10, true);


--
-- Name: genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.genre_id_seq', 10, true);


--
-- Name: lieferant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lieferant_id_seq', 10, true);


--
-- Name: lieferart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lieferart_id_seq', 10, true);


--
-- Name: ort_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ort_id_seq', 10, true);


--
-- Name: rezension_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rezension_id_seq', 21, true);


--
-- Name: sprache_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sprache_id_seq', 10, true);


--
-- Name: status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.status_id_seq', 10, true);


--
-- Name: verlag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.verlag_id_seq', 10, true);


--
-- Name: zustand_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.zustand_id_seq', 10, true);


--
-- Name: abholort abholort_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.abholort
    ADD CONSTRAINT abholort_pkey PRIMARY KEY (id);


--
-- Name: ausleihdauer ausleihdauer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ausleihdauer
    ADD CONSTRAINT ausleihdauer_pkey PRIMARY KEY (id);


--
-- Name: ausleihvorgang ausleihvorgang_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ausleihvorgang
    ADD CONSTRAINT ausleihvorgang_pkey PRIMARY KEY (id);


--
-- Name: autor autor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.autor
    ADD CONSTRAINT autor_pkey PRIMARY KEY (id);


--
-- Name: benutzer benutzer_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benutzer
    ADD CONSTRAINT benutzer_email_key UNIQUE (email);


--
-- Name: benutzer benutzer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benutzer
    ADD CONSTRAINT benutzer_pkey PRIMARY KEY (id);


--
-- Name: benutzerrolle benutzerrolle_bezeichnung_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benutzerrolle
    ADD CONSTRAINT benutzerrolle_bezeichnung_key UNIQUE (bezeichnung);


--
-- Name: benutzerrolle benutzerrolle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benutzerrolle
    ADD CONSTRAINT benutzerrolle_pkey PRIMARY KEY (id);


--
-- Name: buch buch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT buch_pkey PRIMARY KEY (id);


--
-- Name: genre genre_genre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genre
    ADD CONSTRAINT genre_genre_key UNIQUE (genre);


--
-- Name: genre genre_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genre
    ADD CONSTRAINT genre_pkey PRIMARY KEY (id);


--
-- Name: lieferant_abholort lieferant_abholort_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lieferant_abholort
    ADD CONSTRAINT lieferant_abholort_pkey PRIMARY KEY (lieferant_id, abholort_id);


--
-- Name: lieferant lieferant_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lieferant
    ADD CONSTRAINT lieferant_name_key UNIQUE (name);


--
-- Name: lieferant lieferant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lieferant
    ADD CONSTRAINT lieferant_pkey PRIMARY KEY (id);


--
-- Name: lieferart lieferart_bezeichnung_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lieferart
    ADD CONSTRAINT lieferart_bezeichnung_key UNIQUE (bezeichnung);


--
-- Name: lieferart lieferart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lieferart
    ADD CONSTRAINT lieferart_pkey PRIMARY KEY (id);


--
-- Name: ort ort_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ort
    ADD CONSTRAINT ort_pkey PRIMARY KEY (id);


--
-- Name: rezension rezension_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezension
    ADD CONSTRAINT rezension_pkey PRIMARY KEY (id);


--
-- Name: sprache sprache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sprache
    ADD CONSTRAINT sprache_pkey PRIMARY KEY (id);


--
-- Name: sprache sprache_sprache_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sprache
    ADD CONSTRAINT sprache_sprache_key UNIQUE (sprache);


--
-- Name: status status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.status
    ADD CONSTRAINT status_pkey PRIMARY KEY (id);


--
-- Name: status status_status_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.status
    ADD CONSTRAINT status_status_key UNIQUE (status);


--
-- Name: buch uq_buch_isbn; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT uq_buch_isbn UNIQUE (isbn);


--
-- Name: rezension uq_rezension_benutzer_buch; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezension
    ADD CONSTRAINT uq_rezension_benutzer_buch UNIQUE (benutzer_id, buch_id);


--
-- Name: verlag verlag_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verlag
    ADD CONSTRAINT verlag_name_key UNIQUE (name);


--
-- Name: verlag verlag_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verlag
    ADD CONSTRAINT verlag_pkey PRIMARY KEY (id);


--
-- Name: zustand zustand_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zustand
    ADD CONSTRAINT zustand_pkey PRIMARY KEY (id);


--
-- Name: zustand zustand_zustand_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zustand
    ADD CONSTRAINT zustand_zustand_key UNIQUE (zustand);


--
-- Name: idx_av_benutzer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_av_benutzer ON public.ausleihvorgang USING btree (benutzer_id);


--
-- Name: idx_av_buch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_av_buch ON public.ausleihvorgang USING btree (buch_id);


--
-- Name: idx_av_offen_benutzer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_av_offen_benutzer ON public.ausleihvorgang USING btree (benutzer_id) WHERE (rueckgabe_am IS NULL);


--
-- Name: idx_buch_isbn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_buch_isbn ON public.buch USING btree (isbn);


--
-- Name: idx_buch_titel; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_buch_titel ON public.buch USING btree (titel);


--
-- Name: idx_rez_buch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rez_buch ON public.rezension USING btree (buch_id);


--
-- Name: uq_av_buch_offen; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_av_buch_offen ON public.ausleihvorgang USING btree (buch_id) WHERE (rueckgabe_am IS NULL);


--
-- Name: abholort fk_abholort_ort; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.abholort
    ADD CONSTRAINT fk_abholort_ort FOREIGN KEY (ort_id) REFERENCES public.ort(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ausleihvorgang fk_av_benutzer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ausleihvorgang
    ADD CONSTRAINT fk_av_benutzer FOREIGN KEY (benutzer_id) REFERENCES public.benutzer(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ausleihvorgang fk_av_buch; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ausleihvorgang
    ADD CONSTRAINT fk_av_buch FOREIGN KEY (buch_id) REFERENCES public.buch(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ausleihvorgang fk_av_lieferart; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ausleihvorgang
    ADD CONSTRAINT fk_av_lieferart FOREIGN KEY (lieferart_id) REFERENCES public.lieferart(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ausleihvorgang fk_av_zustand_nach; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ausleihvorgang
    ADD CONSTRAINT fk_av_zustand_nach FOREIGN KEY (zustand_nach_ausleih) REFERENCES public.zustand(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ausleihvorgang fk_av_zustand_vor; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ausleihvorgang
    ADD CONSTRAINT fk_av_zustand_vor FOREIGN KEY (zustand_vor_ausleih) REFERENCES public.zustand(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: benutzer fk_benutzer_ort; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benutzer
    ADD CONSTRAINT fk_benutzer_ort FOREIGN KEY (ort_id) REFERENCES public.ort(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: benutzer fk_benutzer_rolle; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benutzer
    ADD CONSTRAINT fk_benutzer_rolle FOREIGN KEY (benutzerrolle_id) REFERENCES public.benutzerrolle(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: buch fk_buch_anbieter; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT fk_buch_anbieter FOREIGN KEY (anbieter_benutzer_id) REFERENCES public.benutzer(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: buch fk_buch_ausleihdauer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT fk_buch_ausleihdauer FOREIGN KEY (ausleihdauer_id) REFERENCES public.ausleihdauer(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: buch fk_buch_autor; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT fk_buch_autor FOREIGN KEY (autor_id) REFERENCES public.autor(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: buch fk_buch_genre; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT fk_buch_genre FOREIGN KEY (genre_id) REFERENCES public.genre(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: buch fk_buch_sprache; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT fk_buch_sprache FOREIGN KEY (sprache_id) REFERENCES public.sprache(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: buch fk_buch_status; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT fk_buch_status FOREIGN KEY (status_id) REFERENCES public.status(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: buch fk_buch_verlag; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT fk_buch_verlag FOREIGN KEY (verlag_id) REFERENCES public.verlag(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: buch fk_buch_zustand; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.buch
    ADD CONSTRAINT fk_buch_zustand FOREIGN KEY (zustand_id) REFERENCES public.zustand(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: lieferant_abholort fk_la_abholort; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lieferant_abholort
    ADD CONSTRAINT fk_la_abholort FOREIGN KEY (abholort_id) REFERENCES public.abholort(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lieferant_abholort fk_la_lieferant; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lieferant_abholort
    ADD CONSTRAINT fk_la_lieferant FOREIGN KEY (lieferant_id) REFERENCES public.lieferant(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rezension fk_rez_benutzer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezension
    ADD CONSTRAINT fk_rez_benutzer FOREIGN KEY (benutzer_id) REFERENCES public.benutzer(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: rezension fk_rez_buch; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezension
    ADD CONSTRAINT fk_rez_buch FOREIGN KEY (buch_id) REFERENCES public.buch(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: dm_mv_ausleihen; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: postgres
--

REFRESH MATERIALIZED VIEW public.dm_mv_ausleihen;


--
-- PostgreSQL database dump complete
--

\unrestrict VERWfajzDTSvZEda5C74NY0zAgiqgSaqveHlmA4OM6Zxtebmh5tilDY6EaTACGK

